<% provide(:title, 'Ruby on Rails Tutorial Sample App') %>
<div class="center hero-unit">
	<h1>Welcome to the Sample App</h1>

	<h2>
		This is the home page for the
		<a href="http://railstutorial.org/">Ruby on Rails tutorial</a>
		sample application.
	</h2>
	<!-- <form action="https://www.linkedin.com/uas/oauth2/authorization?response_type=code&client_id=eaf5eplq7t07&scope=r_fullprofile&state=TestApp&redirect_uri=http://localhost:3000" method="post">
		<button type="submit" class="btn btn-large btn-primary">Sign up with LinkedIn</button>
	</form> -->

	<%= link_to "Sign up with LinkedIn", signup_path, :class => "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
